
//color variables
$black: #343232;
$red: #7e003f;
$green: #00838e;
$grey: #f2f2f2;
$white: #ffffff;

//media queries
$tablet: 800px;
$desktop: 1200px;

//mixins

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}